@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-form-bg: rgb(211, 205, 255);
  --main-form-accent: rgb(54, 14, 49);
  --light-accent: rgb(200, 193, 255);
  --main-outline: solid 2px;
  --correct-or-not: green;
}

::-moz-selection {
  color: #fff;
  background: var(--main-form-accent);
}

::selection {
  color: #fff;
  background: var(--main-form-accent);
}

body {
  background-color: rgb(248, 248, 248);
  font-family: 'Poppins', sans-serif;
  position: relative;
  min-height: 100vh;
}

.header {
  background-color: #581845;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-bars {
  color: #fff;
  font-size: 1.5rem;
  padding: 0.3rem;
  margin-left: auto;
  margin-right: 1.5rem;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.navbar {
  background-color: rgb(19, 1, 34);
  opacity: 0.95;
  width: 100%;
  max-width: 400px;
  height: min-content;
  margin-bottom: 2rem;
  position: absolute;
  top: 10vh;
  left: 0;
  padding: 3rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 11;
  transform: translateX(-101%);
  transition: all 0.3s ease-out;
}

.navbar.visible {
  transform: translateX(0);
}

.navbar.visible ~ .fa-bars {
  transform: rotate(450deg);
}

.navbar a {
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 0 1.5rem;
  border-radius: 3px;
}

.navbar a:hover, .navbar a:focus {
  color: #ccc;
  outline: var(--main-outline) rgba(184, 184, 252, 0.616);
  outline-offset: 0.5rem;
}

.navbar.visible .fa-times {
  color: #fff;
  font-size: 2rem;
  position: absolute;
  right: 1.5rem;
  top: 1.2rem;
  cursor: pointer;
}

/* Naslovna strana */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* === FORM === */
.form-home {
  background-color: var(--main-form-bg);
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin: 4rem 0 0;
  padding: 1.5rem;
  border-radius: 4px;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.3);
  position: relative;
}

.enter-name-element {
  width: 100%;
  grid-column: 1 / 8;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
}

.error {
  margin-top: 0.5rem;
  font-weight: 600;
  color: red;
  font-size: 0.8rem;
}

.za-taster-imena {
  position: relative;
  grid-column: 8 / 9;
  grid-row: 2 / 3;
}

.name-btn {
  width: 100%;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--main-form-accent);
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  padding: 0.5rem 1rem;
}

.name-btn:is(:hover, :focus) {
  background-color: #330e28;
  outline: var(--main-outline) #fff;
  outline-offset: -4px;
}

.form-home label {
  margin: 0 0 0.5rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.form-home input {
  display: inline-block;
  width: 100%;
  border: none;
  border-radius: 4px;
  font-size: 1.4rem;
  padding: 1rem;
}

.form-home input:focus {
  outline: var(--main-outline) var(--main-form-accent);
  caret-color: var(--main-form-accent);
}

.current-user {
  display: none;
  font-weight: 600;
  font-size: 1.8rem;
  margin: 2rem 0;
}
/* === FORM === */


/* === RASPOLOŽIVI TESTOVI === */
.all-tests {
  padding: 1.5rem;
  margin-top: 4rem;
  width: 100%;
  max-width: 800px;
  background-color: var(--main-form-bg);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.2rem #D0C0FF;
}

.all-tests div {
  margin-bottom: 0.5rem;
}

.all-tests .tests-content {
  min-height: 5rem;
}

.all-tests div h4 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.tests {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 4px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(50px, 90px));
}

.test {
  background-color: rgb(6, 46, 167);
  color: #fff;
  height: 50px;
  width: 90px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.164);
}

.test:hover {
  transform: scale(1.02);
}
/* === RASPOLOŽIVI TESTOVI === */


/* Rješavanje testa */
.start-test-btn {
  text-align: center;
  border: none;
  border-radius: 4px;
  background-color: rgb(19, 126, 81);
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  margin-top: 10px;
  padding: 0.8rem 2rem;
  line-height: 1.5rem;
  font-size: 1rem;
  display: none;
  cursor: pointer;
}

.start-test-btn:is(:hover, :focus) {
  background-color: rgb(16, 104, 67);
  outline: none;
}

/* MAIN TEST CONTAINER */
.test-container {
  background-color: #EAECEE;
  display: none;
  width: 95%;
  max-width: 1200px;
  padding: 1rem 1.5rem 1.5rem;
  position: relative;
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.correct-green-element {
  background-color: rgba(1, 172, 1, 0.658);
}

.incorrect-red-element {
  background-color: rgb(243, 62, 62);
}

.test-container.prikaži {
  display: grid;
  place-items: center;
}

.test-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  color: #333;
}

.header-span {
  font-size: 1.25rem;
}

.test-header .exit-test {
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #333;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 50%;
  padding: 0.5rem;
  transition: all 100ms ease-in-out;
}

.test-header .exit-test:is(:hover, :focus) {
  background-color: #222;
  color: #fff;
  outline: 2px solid var(--light-accent);
}

.test-header .exit-test:is(:hover, :focus) {
  opacity: 0.75;
}

.question-text {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
}

.answers-container {
  margin-bottom: 3rem;
}

.answer-label {
  display: flex;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.3rem 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 500px;
}

.answer-input {
  width: 0;
  height: 0;
}

.answer-span {
  min-width: 1rem;
  height: 1rem;
  background-color: #e5e5e5;
  margin-right: 1rem;
  margin-left: 0.4rem;
  border-radius: 50%;
  position: relative;
  outline: 2px solid var(--light-accent);
  outline-offset: 1px;
}

.answer-label:hover .answer-span {
  background-color: #ccc;
}

.answer-input:checked ~ .answer-span {
  background-color: rgb(18, 0, 49);
}

.controls-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.previous-btn, .next-btn {
  width: 50px;
  height: 50px;
  text-align: center;
  border: none;
  border-radius: 4px;
  background-color: rgb(47, 36, 148);
  color: #fff;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 0.5rem 0;
  font-size: 1.1rem;
  cursor: pointer;
}

.prev-btn-text, .next-btn-text {
  display: none;
}

.previous-btn:is(:hover, :focus),
.next-btn:is(:hover, :focus) {
  background-color: rgb(39, 30, 121);
}

.end-test-btn {
  border: none;
  color: rgb(230, 230, 230);
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  background-color: rgb(23, 143, 33);
  padding: 0.5rem 2rem;
  border-radius: 200px;
  width: 8rem;
  position: absolute;
  bottom: 10px;
  right: 5px;
  cursor: pointer;
  display: none;
}

.end-test-btn:is(:hover, :focus) {
  opacity: 0.75;
}

.prikaz-rezultata, .poruka-korisniku {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.prikaz-rezultata {
  opacity: 0.8;
}

.poruka-korisniku {
  text-transform: uppercase;
}

.zelena-poruka {
  color: rgb(26, 136, 26);
}

.crvena-poruka {
  color: rgb(212, 2, 2);
}


/* Tabele */
caption {
  font-weight: 600;
  margin-bottom: 1rem;
}

.tests-table, .questions-table {
  margin: 1rem 0;
  border-collapse: collapse;
  width: 90%;
  background: #eee;
  border-radius: 4px;
  border: none;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.164);
}

.tests-table {
  max-width: 500px;
}

.test-controls, .question-controls {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 90%;
  margin: 3rem 0 2rem;
  padding: 0;
}

.new-test,
.show-all-tests,
.new-question,
.show-all-questions {
  margin: 0;
  width: 12rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  border: var(--main-outline) hsl(350, 77%, 27%);
  background-color: hsl(350, 77%, 27%);
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.25);
}

.new-test:active,
.show-all-tests:active,
.new-question:active,
.show-all-questions:active {
  box-shadow: none;
}

.new-test:is(:hover, :focus),
.show-all-tests:is(:hover, :focus),
.new-question:is(:hover, :focus),
.show-all-questions:is(:hover, :focus) {
  background-color: hsl(349, 78%, 14%);
  border-color: hsl(349, 78%, 14%);
  color: #fff;
  outline: none;
}

.show-all-tests, .show-all-questions {
  background-color: transparent;
  border: var(--main-outline) hsl(350, 77%, 27%);
  color: hsl(350, 77%, 27%);
}

tr:not(thead tr):is(:hover, :focus) {
  background-color: #ddd;
}

td, th {
  padding: 0.5rem;
  text-align: left;
  height: 2rem;
  border-bottom: 1px solid #c7c7c7;
}

td {
  border-bottom: 1px solid #dfdfdf;
}

.fa-pen {
  margin-right: 2rem;
  color: grey;
  font-size: 1.2rem;
  cursor: pointer;
}

.fa-pen:is(:hover, :focus) {
  color: #4F4F4F;
}

.fa-trash {
  color: firebrick;
  font-size: 1.1rem;
  cursor: pointer;
}

.fa-trash:is(:hover, :focus) {
  color: #722301;
}

.questions-table td:nth-child(1), .questions-table th:nth-child(1) {
  width: 10%;
  text-align: center;
}

.questions-table td:nth-child(2), .questions-table th:nth-child(2) {
  width: 60%;
}

.questions-table td:nth-child(3), .questions-table th:nth-child(3) {
  width: 15%;
}

.tests-table td:nth-child(1), .tests-table th:nth-child(1) {
  width: 10%;
  text-align: center;
}

.tests-table td:nth-child(2), .tests-table th:nth-child(2) {
  width: 40%;
}
.tests-table td:nth-child(3), .tests-table th:nth-child(3) {
  width: 20%;
}

.tests-table td:nth-child(4), .tests-table th:nth-child(4) {
  width: 20%;
}

/* Dijalog za brisanje */
.delete-dialog {
  margin: 5px;
  width: 350px;
  padding: 1rem;
  border-radius: 5px;
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(228, 228, 228);
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  z-index: 3;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  display: none;
}

.delete-dialog p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  grid-column: 1 / 6;
  text-align: center;
}

.delete-dialog .taster {
  border: none;
  border-radius: 400px;
  text-transform: uppercase;
  font-weight: 600;
  color: #000;
  cursor: pointer;
  outline: none;
  grid-column: 1 / 3;
  background-color: rgba(31, 192, 31, 0.342);
}

.confirm-dialog:is(:focus, :hover) {
  background-color: rgba(34, 180, 34, 0.795);
}

.delete-dialog .reject-delete {
  grid-column: 4 / 6;
  background-color: rgba(192, 31, 31, 0.342);
}

.reject-delete:is(:focus, :hover) {
  background-color: rgb(192, 31, 31);
  color: #fff;
}

/* === MODAL ZAJEDNIČKO === */
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  padding: 1rem;
  transition: visibility 0.3s, opacity 0.3s;
}

.active-modal {
  visibility: visible;
  opacity: 1;
}

.modal {
  width: 100%;
  max-width: 600px;
  background-color: #e5e5e5;
  border-radius: 4px;
  padding: 1rem 1.5rem 1.5rem;
  z-index: 2;
  max-height: 600px;
  overflow-y: auto;
  margin: 1rem 0;
}

/* MODAL HEADER */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.modal-header h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.close-modal {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 800;
  cursor: pointer;
  border-radius: 50%;
}

.close-modal:is(:hover, :focus) {
  background-color: #CFCFCF;
}
/* END OF MODAL HEADER */

/* MODAL FORM */
.modal .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal .form div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.modal .form label {
  font-size: 1.3rem;
  font-weight: 500;
}

.modal .form input,
.form select,
.form textarea {
  font-family: inherit;
  background-color: #fff;
  display: inline-block;
  width: 100%;
  margin: 0.5rem 0 2.5rem;
  border: none;
  border-radius: 4px;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  line-height: 1.5;
}

.form input:is(:focus),
.form select:is(:focus),
.form textarea:is(:focus) {
  outline: var(--main-outline) var(--main-form-accent);
}

/* tasteri formulara */
.tasteri {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
/* tasteri formulara */

/* END OF MODAL FORM */

/* Modal za dodavanje testova */

/* Tasteri za unos testa */

.add-question,
.save-test,
.modal .form .add-answer-btn,
.save-question {
  background-color: var(--light-accent);
  color: var(--main-form-accent);
  font-family: inherit;
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 0;
  padding: 0.5rem 0;
  text-transform: uppercase;
  width: 100%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.save-test {
  background-color: var(--main-form-accent);
  color: #fff;
}

.add-question:is(:hover, :focus),
.save-test:is(:hover, :focus),
.add-answer-btn:is(:hover, :focus),
.save-question:is(:hover, :focus) {
  outline: var(--main-outline) var(--main-form-accent);
  outline-offset: -4px;
}

.save-test:is(:hover, :focus),
.save-question:is(:focus, :hover) {
  outline: var(--main-outline) var(--light-accent);
}

/* unos pitanja */
.question-input {
  min-height: 150px;
}

.save-question {
  background-color: var(--main-form-accent);
  color: #fff;
}

.list {
  list-style: none;
  padding: 0.5rem 0;
  margin-top: 1rem;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.answer {
  border-radius: 3px;
  padding: 1rem 0.7rem;
  padding-right: 1.2rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 3px var(--correct-or-not);
  color: var(--correct-or-not);
  position: relative;
  overflow: hidden;
  font-weight: 500;
}

.answer i {
  width: 35px;
  height: 35px;
  line-height: 31px;
  text-align: center;
  font-size: 1.2rem;
  margin-left: auto;
  border: 2px solid var(--correct-or-not);
  border-radius: 50%;
  color: var(--correct-or-not)
}

.answer .fa-trash-alt {
  background-color: transparent;
  width: 30px;
  border: none;
  border-radius: 2px;
  position: absolute;
  top: 20;
  right: 15%;
  transform: translateY(-42px);
  transition: transform 100ms ease;
  cursor: pointer;
}

.answer:is(:focus, :hover) .fa-trash-alt {
  transform: translateY(0);
}

.incorrect-answer {
  --correct-or-not: red;
  color: var(--correct-or-not);
}


/* === MEDIA QUERIES === */
@media screen and (min-width: 500px) {
  .tasteri, .modal .form .tasteri-pitanja {
    flex-direction: row;
  }

  .modal .form .add-answer-btn {
    margin-top: 0;
  }
}

@media screen and (min-width: 600px) {
  .navbar {
    transform: translateX(0);
    position: static;
    background: transparent;
    flex-direction: row;
    height: 10vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }

  .navbar a {
    line-height: 10vh;
    padding: 0;
    margin: 0;
  }

  .navbar a:is(:hover, :focus) {
    outline: none;
  }

  .navbar a:not(:last-of-type) {
    margin-right: 1rem;
  }

  .fa-bars {
    display: none;
  }

  .navbar .fa-times {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .previous-btn, .next-btn {
    width: 280px;
  }

  .prev-btn-text, .next-btn-text {
    display: inline-block;
    margin: 0 0.5rem;
  }
}
